button.window-minimize,
button.window-maximize,
button.window-close {
  color: transparent;
  background-color: transparent !important;
}

/*
#webpage-stack {
  border-radius: 10px !important;
}
*/

#modal-bg.slide > div {
  border-radius: var(--radius) !important;
}

#tabs-tabbar-container.top {
  padding-top: 4px !important;
}

button.vivaldi {
  height: 0;
  padding: 5px 0 0;
}

.UrlBar-AddressField,
.dim-blurred:not(.hasfocus) .UrlBar-AddressField {
  border-width: 0px;
  background-color: transparent;
}

.color-behind-tabs-on .UrlBar-AddressField:focus-within {
  outline-offset: 0px;
  outline-width: 0px;
}

.UrlField > input[placeholder$="Search or enter an address"]::placeholder {
  color: transparent !important;
}

.UrlField,
.UrlBar-UrlField {
  text-align: center;
  justify-content: center;
  font-size: 1.06em;
  font-weight: 600;
}
