button.window-minimize,
button.window-maximize,
button.window-close {
  color: transparent;
  background-color: transparent !important;
}

.mainbar {
  border: none !important;
}

#webpage-stack {
  border-radius: 14px !important;
  border: 1px solid var(--colorBorder) !important;
}

#webview-container {
  background-color: var(--colorBg) !important;
  padding: 0 7px 7px 7px;
}

#modal-bg.slide > div {
  border-radius: var(--radius) !important;
}

#tabs-tabbar-container {
  padding-top: 2px !important;
}

button.vivaldi {
  margin: 2px;
}

.UrlBar-AddressField,
.dim-blurred:not(.hasfocus) .UrlBar-AddressField {
  border-width: 0px;
  background-color: transparent;
}

.color-behind-tabs-on .UrlBar-AddressField:focus-within {
  outline-offset: 0px;
  outline-width: 0px;
}

#tabs-subcontainer {
  background-color: #00000013 !important;
  box-shadow: none !important;
}

.tab.active .favicon {
  filter: none !important;
}

.UrlField > input[placeholder$="Search or enter an address"]::placeholder {
  color: transparent !important;
}

.UrlField,
.UrlBar-UrlField {
  text-align: start;
  justify-content: center;
  font-size: 1.06em;
  font-weight: 600;
}
