[include]
  path = .gitconfig_local

[user]
  name = futsuuu
  email = futsuuu123@gmail.com

[core]
  editor = nvim
  autocrlf = input

[alias]
  ad = add
  br = branch
  cm = commit
  df = diff
  ps = push
  pl = pull
  st = status --short --branch
  lg = log --oneline --graph --decorate
  rs = restore
  sw = switch
  fc = fetch
  mg = merge
  tg = tag

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[init]
  defaultBranch = main

[credential "helperselector"]
  selected = manager

[commit]
  verbose = true

[pull]
  ff = only

[ghq]
  root = ~/dev

[color]
  ui = true
