[Unit]
Description = xremap

[Service]
Type = simple
ExecStart = /usr/bin/xremap /home/futsuuu/.config/xremap/config.yml
ExecStop = /usr/bin/killall xremap
Restart = Always

[Install]
WantedBy = multi-user.target

# vim:ft=systemd
